:root {
  --dark-clr: #075e54;
  /* (7,94,84) */
  --secondary-clr: #128c7e;
  /* (18,140,126) */
  --primary-clr: #25d366;
  /* (37,211,102) */
  --light-clr: #dcf8c6;
  /* (220,248,198) */
  --bg-clr: #ece5dd;

  --black-clr: #1c1e21;
  --white-clr: #ffffff;

  --header-height: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--black-clr);
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.hide {
  display: none !important;
}

.border-black {
  border: 2px solid black;
}

header {
  min-height: 15vh;
  background: var(--primary-clr);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

input[type="number"] {
  -moz-appearance: textfield;
}

header h1 {
  color: var(--black-clr);
  text-align: center;
  font-weight: 900;
  font-size: 2.8rem;
  font-family: "Montserrat", sans-serif;
  padding: 1rem 2rem;
  text-decoration: underline;
  text-underline-offset: 10px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  margin: var(--header-height) 1rem;
  padding: 1rem;
  background: rgba(220, 248, 198, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid var(--black-clr);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.min-sec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

input, textarea,
select {
  padding: 0.5rem 1rem;
  border: 1px solid var(--black-clr);
  border-radius: 1rem;
  box-sizing: border-box;
  width: 100%;
  text-overflow: ellipsis;
  background: var(--white-clr);
  color: var(--dark-clr);
}

input:active,
input:focus-visible {
  outline: 2px solid var(--secondary-clr);
}

label {
  font-weight: 500;
}

option {
  text-overflow: clip;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btns-grp {
  display: flex;
  gap: 1rem;
  max-width: 100%;
}

.btn {
  background: var(--primary-clr);
  color: var(--black-clr);
  padding: 1rem 2rem;
  border: 1px solid var(--black-clr);
  border-radius: 1rem;
  flex-grow: 1;
  transition: all 0.7s ease-in-out;
}

.btn:hover {
  background: var(--black-clr);
  color: var(--primary-clr);
}

@media screen and (min-width: 1080px) {
  header {
    min-height: 15vh;
  }

  header h1 {
   font-size: 3rem;
  }

  .main-container {
    width: 30vw;
  }
}

